@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    font-family: 'Roboto', 'Sans Serif';
    padding: 20px; 
    font-size: large;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    justify-items: inherit;
}

body {
    justify-content: center;
    justify-items: center;
}
p {
    font-size: 30px;
    font-weight: lighter;
}

h1 {
    font-weight: bolder;
    font-size: larger;
}

h5 {
    font-weight: normal;
}
